#header {
	padding: 20px;
	width: calc(100% - 40px);
}

#footer {
	padding: 20px;
	height: 48px;
	width: calc(100% - 40px);
}

a,
a:hover,
a:visited {
	color: black;
	text-decoration: underline;
}

#copyBlueprintButton {
	margin: 16px;
}

#helpButton {
	cursor: pointer;
}

html {
	background-color: #f0f0f0;
}
